* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;

    color: #09f;
}

a:hover,
a:active {
    text-decoration: underline;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.ui-text-light {
    color: #fff;
}

.round {
    border-radius: 8px;
}

.round-l {
    border-radius: 8px 0 0 8px;
}

.round-r {
    border-radius: 0 8px 8px 0;
}

.round-tr {
    border-top-right-radius: 8px;
}

.round-tl {
    border-top-left-radius: 8px;
}

.round-br {
    border-bottom-right-radius: 8px;
}

.round-bl {
    border-bottom-left-radius: 8px;
}

.smooth {
    transition: all .15s ease;
}

main {
    display: flex;
    overflow: hidden;

    height: 100vh;

    text-align: center;

    flex-flow: row;
}

.box-cont {
    display: flex;
    overflow: auto;

    width: 90vw;
    height: 100vh;
    padding: 10px;

    background-color: #000;

    flex-flow: wrap;
}

.box {
    display: flex;

    width: calc(100% / 3);
    padding: 10px;

    transition: background-color .3s ease;

    align-items: center;
    justify-content: center;
}

.inner-box {
    display: flex;

    transition-property: background-color;

    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.box-label {
    min-width: 144px;
    padding: 10px;

    border-radius: 8px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
}

.ui {
    display: flex;

    width: 10vw;
    height: 100vh;
    padding: 1vw;

    color: #000;
    background-color: #263237;

    flex-flow: column;
}

.ui > * {
    margin-bottom: 10px;
}

.cont {
    display: flex;

    flex-flow: wrap;
}

.cont > * {
    padding: 10px 0;
}

.btn {
    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .15s ease;
    transition-property: color, background-color, box-shadow;
    text-align: center;

    background-color: #fff;
}

.btn:active {
    color: #fff;
    background-color: #315896;
}

.btn-refresh {
    margin-bottom: 10px;
}

.btn-refresh-mobile {
    display: none;
}

.label-gray {
    background-color: #ccc;
}

input {
    line-height: 1;

    transition-property: background-color, color;
    text-align: center;
    text-transform: uppercase;

    border: none;
}

input:focus {
    color: #fff;
    outline: none;
    background-color: #315896;
    /* Chrome only */
}

.choice {
    display: none;
}

#hex:checked + .btn,
#rgb:checked + .btn {
    color: #fff;
    background-color: #315896;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    main {
        flex-flow: column nowrap;
    }

    .box-cont {
        width: 100vw;
        height: 100vh;
        padding: 1vh;
    }

    .box {
        width: calc(100% / 2);
        padding: 1vh;
    }

    .ui {
        width: 100vw;
        height: auto;
        padding: 0;
    }

    .cont > * {
        padding: 0.25vh;
    }

    .ui > *,
    .btn-refresh {
        margin-bottom: 0;
    }

    .box-label,
    .ui > div:not(:first-child),
    .btn-type {
        display: none;
    }

    .btn-refresh {
        font-size: 5vh;
        display: none;
        color: #fff;
        border-radius: 0;
        background-color: #263237;
    }

    .btn-refresh-mobile {
        display: block;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    .box {
        width: calc(100% / 3);
        padding: 1vw;
    }

    .cont > * {
        padding: 0.75vw;
    }
}

@media screen and (min-device-width: 800px) and (max-device-width: 1280px) {
    .box-cont {
        width: 80vw;
    }

    .ui {
        width: 20vw;
    }

    .box {
        width: calc(100% / 2);
    }

}