main
{
    display: flex;
    overflow: hidden;

    height: 100vh;

    flex-flow: row;
}

.ui
{
    display: flex;

    width: 10vw;
    height: 100vh;
    padding: 10px;

    background-color: #263237;

    flex-flow: column;
}

.ui > *
{
    margin-bottom: 10px;
}

.btn
{
    display: block;

    padding: 10px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .15s ease;
    transition-property: color, background-color;
    text-align: center;

    border-radius: 5px;
    background-color: #ccc;
}

.btn:active
{
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .6);
}

.label-cont
{
    overflow: auto;

    border-radius: 5px 5px 0 0;
}

.label
{
    padding: 10px;

    text-align: center;

    color: #fff;
}

.label-50
{
    float: left;

    width: 50%;
    padding: 10px 0;

    color: #000;
    background-color: #ccc;
}

.input-cont
{
    overflow: auto;

    border-radius: 0 0 5px 5px;
}

.numInput
{
    line-height: 1;

    float: left;

    width: 50%;
    padding: 10px 0;

    text-align: center;

    border: none;
}

.choice
{
    display: none;
}

#hex:checked + .btn,
#rgb:checked + .btn
{
    color: #fff;
    background-color: #09f;
}

.box-cont
{
    display: flex;
    overflow: auto;

    width: 90vw;
    height: 100vh;

    flex-flow: wrap;
}

.box
{
    width: calc(100% / 3);

    transition: background-color .3s ease;

    background-color: #444;
}

.box-label
{
    display: inline-block;

    padding: 10px;

    text-align: center;

    border-radius: 0 0 8px 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
}

.copyright
{
    text-align: center;

    color: #fff;
}
